p {
    font-family: Syne, 'Courier New', Courier, monospace;
}

* {background-color: rgb(171, 209, 209)}

.heading1_pic {
    display:flex;
    align-items: center;
    width: 400px;
    margin-top: 60px;

}

.heading2_div {
    margin-top: 140px;
    
}
.heading2_text {
    text-align: center;
    font-size: 50px;
    color: black;
}



.prof-image,
.student-image {
    width: 200px; 
    border-radius: 20px;   

}

.identity-confirm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top: 80px;
    border: green;
    border: solid;

}


.prof-id,
.student-id {
    text-align: center;
    border: solid;
    border: blue;
    border-radius: 5px;
    width: 300px;
    display: inline-block;
    padding: 10px;


}

.student-id {
    margin-left: 40px;
}
.Teacher-text,
.student-text {
    font-family: sans-serif;
    font-size: 50px;
    color: black;
    
}

